[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fabric = "*"
neovim = "*"
pygount = "*"
pipenv = "*"
"s3cmd" = "*"
"s4cmd" = "*"
awscli = "*"
virtualenvwrapper = "*"
cookiecutter = "*"
pip-tools = "*"
pypi = "*"
pyvim = "*"
pylint = "*"
pylint-django = "*"
pylint-common = "*"
bandersnatch = "*"
twine = "*"
flake8 = "*"
certbot = "*"
coursera-dl = "*"
cfn-flip = "*"
awscli-cwlogs = "*"
httpie = ">=2"
you-get = "*"
youtube-dl = "*"
unp = "*"
thefuck = "*"
pgcli = "*"
ipython = "*"

[dev-packages]

[requires]
python_version = "3.7"
