schema_version = 1
name = "{{NAME}}"
description = ""
created_at = "{{CREATED_AT}}"
created_on = "{{DEVICE}}"
keystone_gpg_fingerprint = "{{GPG_FINGERPRINT}}"
disabled = false

[lifecycle]
valid_until = ""
rotation_cadence_days = 365

[prompt]
color = "{{PROMPT_COLOR}}"
marker = "{{NAME}}"

[encryption]
backend = "gpg"
